.button {
  border: none;
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: hsl(var(--color-primary-cyan));
  color: hsl(0 0% 100%);
  padding: 1.5rem 5rem;
  border-radius: 4rem;
}

@media (min-width: 37.5em) {
  .button {
    cursor: pointer;
    padding: 1.2rem 4rem;
    font-size: 2rem;
    transition: background 0.2s;
  }

  .button:hover {
    background-color: hsl(var(--color-primary-cyan) / 0.6);
  }
}

.noBg {
  background: transparent;
}

@media (min-width: 37.5em) {
  .noBg {
    color: hsl(var(--color-grayish-violet));
  }

  .noBg:hover {
    background: transparent;
  }
}

.desktop {
  font-size: 1.6rem;
  padding: 0.6rem 2rem;
}

.shorten {
  border-radius: 0.5rem;
  width: 100%;
  padding: 1.2rem 5rem;
}

.link {
  font-size: 2.2rem;
  padding: 0.8rem;
}

.link:focus {
  background-color: hsl(var(--color-primary-dark-violet));
}
