.button {
  border: none;
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: hsl(var(--color-primary-cyan));
  color: hsl(0 0% 100%);
  padding: 1.5rem 5rem;
  border-radius: 4rem;
}

@media (min-width: 37.5em) {
  .button {
    font-size: 1.6rem;
    padding: 0.6rem 2rem;
  }
}

.noBg {
  background: transparent;
}

.desktop {
  color: hsl(var(--color-grayish-violet));
}
