.menu {
  position: fixed;
  z-index: 1000;
  background-color: hsl(var(--color-primary-dark-violet));
  width: 90vw;
  left: 2.4rem;
  top: 10rem;
  padding: 4rem;
  border-radius: 1rem;
}

@media (min-width: 37.5em) {
  .menu {
    position: relative;
    background-color: transparent;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    top: 0;
    left: 0;
    padding: 0;
    flex: 1;
    margin-left: 4rem;
  }
}

.menu > ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 4rem;
}

@media (min-width: 37.5em) {
  .menu > ul {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.menu > hr {
  border: none;
  border-bottom: 1px solid hsl(var(--color-gray) / 0.2);
  margin-bottom: 4rem;
}

@media (min-width: 37.5em) {
  .menu > hr {
    display: none;
  }
}

.link {
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  color: hsl(0 0% 100%);
}

@media (min-width: 37.5em) {
  .link {
    font-size: 1.6rem;
    color: hsl(var(--color-grayish-violet));
    cursor: pointer;
  }

  .link:hover {
    color: hsl(var(--color-primary-dark-violet));
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 37.5em) {
  .buttons {
    flex-direction: row;
  }
}
