.link {
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 37.5em) {
  .link {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 3rem;
  }
}

.link > a {
  text-decoration: none;
  font-size: 2rem;
  color: hsl(var(--color-very-dark-violet));
}

.link > a:last-of-type {
  color: hsl(var(--color-primary-cyan));
}

@media (min-width: 37.5em) {
  .link > a:last-of-type {
    margin-left: auto;
    margin-right: 1rem;
  }
}

.link > hr {
  opacity: 0.5;
}

@media (min-width: 37.5em) {
  .link > hr {
    display: none;
  }
}
