.shorten {
  margin-top: 10rem;
  background-color: hsl(var(--color-gray) / 0.2);
}

.container {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form {
  padding-block: 3rem;
  padding-inline: 2rem;
  background: url('../../public/images/bg-shorten-mobile.svg') top right
    no-repeat;
  background-color: hsl(var(--color-primary-dark-violet));
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.input {
  width: 100%;
  font: inherit;
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: none;
}

/* .input:focus {
  border: 0.2rem solid hsl(var(--color-secondary));
} */
