.shorten {
  margin-top: 10rem;
  background-color: hsl(var(--color-gray) / 0.2);
  padding-bottom: 10rem;
}

.container {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 37.5em) {
  .container {
    grid-column: 2 / -2;
  }
}

.form {
  padding-block: 3rem;
  padding-inline: 2rem;
  background: url('../../public/images/bg-shorten-mobile.svg') top right
    no-repeat;
  background-color: hsl(var(--color-primary-dark-violet));
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width: 37.5em) {
  .form {
    flex-direction: row;
    padding: 5rem;
    transform: translateY(-50%);
    margin-bottom: -8rem;
    background: url('../../public/images/bg-shorten-desktop.svg') center
      no-repeat;
    background-color: hsl(var(--color-primary-dark-violet));
    background-size: 105%;
  }
}

.input {
  width: 100%;
  font: inherit;
  color: hsl(var(--color-primary-dark-violet));
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: none;
}

@media (min-width: 37.5em) {
  .input {
    flex-shrink: 1;
  }
}

.inputError {
  border: 0.4rem solid hsl(var(--color-secondary));
}

.inputError::placeholder {
  color: hsl(var(--color-secondary) / 0.6);
}

.error {
  color: hsl(var(--color-secondary));
  margin-top: -2rem;
  font-size: 1.5rem;
}

@media (min-width: 37.5em) {
  .error {
    position: absolute;
    top: 90%;
  }
}
