:root {
  --color-primary-cyan: 180 66% 49%;
  --color-primary-dark-violet: 257 27% 26%;
  --color-secondary: 0 87% 67%;
  --color-gray: 0 0% 75%;
  --color-grayish-violet: 257 7% 63%;
  --color-very-dark-blue: 255 11% 22%;
  --color-very-dark-violet: 260, 8%, 14%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

ul {
  list-style: none;
}

/* SCREEN READER */
/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
} */
